.container {
    max-width: 120rem;
    margin: 6rem auto;
    background-color: var(--color-grey-light-1);
    box-shadow: var(--shadow-dark);

    min-height: 55rem;
}

.header {
    height: 6rem;
    background-color: #fff;
    border-bottom: var(--color-grey-light-2);
    font-size: 1.5rem;  // To let children inherit of this

    display: flex;
    justify-content: space-between;
    align-items: center;  // Center  items vertically
}

.content {
    display: flex;
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    flex: 0 0 15%;  // flex(grow, shrink, basis)
}

.hotel-view {
    // background-color: #fff;
    background-color: skyblue;  // for tests
    flex: 1; // Grow as much as it can
}
